<div class="container">
    <div class="row justify-content-center centered">
      <div class="col-md-12 col-lg-12 col-xl-12">
        <div class="login-wrap p-0">
          <h3 class="mb-4 text-center">Create New Account</h3>
          <form action="#" class="signin-form">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Username"
                required
              />
            </div>
            <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Fullname"
                  required
                />
            </div>
            <div class="form-group">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Email"
                  required
                />
            </div>
            <div class="form-group">
              <input
                id="password-field"
                type="password"
                class="form-control"
                placeholder="Password"
                required
              />
              <span
                toggle="#password-field"
                class="fa fa-fw fa-eye field-icon toggle-password"
              ></span>
            </div>
            <div class="form-group">
                <input
                  id="password-field"
                  type="password"
                  class="form-control"
                  placeholder="Confirm Password"
                  required
                />
                <span
                  toggle="#password-field"
                  class="fa fa-fw fa-eye field-icon toggle-password"
                ></span>
              </div>
            <div class="form-group">
              <button
                type="submit"
                class="form-control btn btn-primary submit px-3"
              >
                Register
              </button>
            </div>
            
          </form>
          
        </div>
      </div>
    </div>
  </div>
  